# Documentation: https://haobogu.github.io/rmk/keyboard_configuration.html
[keyboard]
name = "ggbr minila"
product_name = "ggbr minila"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "naomi233"
chip = "nrf52840"

[matrix]
# Input and output pins are mandatory
row_pins = ["P0_17", "P0_20", "P0_13", "P0_22", "P0_30"]
col_pins = ["P1_13", "P0_02", "P0_29", "P0_31", "P0_15", "P0_24", "P1_00", "P1_02", "P1_04", "P0_09", "P1_11", "P1_10", "P0_03", "P0_28"]
# WARNING: Currently row2col/col2row is set in RMK's feature gate, configs here do nothing actually
# row2col = true

# ================= behavior ================
[behavior.morse]
morses = [
    { tap = "RCTRL", hold = "RCTRL", hold_after_tap = "MO(3)", double_tap = "MO(3)" },
    { tap = "RGUI", hold = "RGUI", hold_after_tap = "MO(3)", double_tap = "MO(3)" }
]

# ================= layout ==================
[layout]
rows = 5
cols = 14
layers = 4
matrix_map = """
(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7) (0,8) (0,9) (0,10) (0,11) (0,12) (0,13)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7) (1,8) (1,9) (1,10) (1,11) (1,12) (1,13)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7) (2,8) (2,9) (2,10) (2,11) (2,13)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7) (3,8) (3,9) (3,10) (3,11) (3,12) (3,13)
(4,0) (4,1) (4,2) (4,3) (4,6) (4,8) (4,9) (4,10) (4,11) (4,12) (4,13)
"""

[[layer]]
name = "base_layer"
keys = """
Escape  Kc1  Kc2  Kc3  Kc4  Kc5  Kc6  Kc7  Kc8  Kc9  Kc0  Minus  Equal  Backspace
Tab  Q  W  E  R  T  Y  U  I  O  P  LeftBracket  RightBracket  Backslash
LT(3, CapsLock)  A  S  D  F  G  H  J  K  L  Semicolon  Quote  Enter
LShift  Z  X  C  V  B  N  M  Comma  Dot  Slash  RShift  UP  Delete
LCtrl  LGui  LAlt  MO(2)  Space  MO(2)  RAlt  TD(0)  Left  Down  Right
"""

[[layer]]
name = "mac_layer"
keys = """
_  _  _  _  _  _  _  _  _  _  _  _  _  _
_  _  _  _  _  _  _  _  _  _  _  _  _  _
_  _  _  _  _  _  _  _  _  _  _  _  _
_  _  _  _  _  _  _  _  _  _  _  _  _  _
_  LAlt  LGui  _  _  _  _  _  _  _  _
"""

[[layer]]
name = "fn_layer"
keys = """
Grave  F1  F2  F3  F4  F5  F6  F7  F8  F9  F10  F11  F12  _
_  WM(Kc9, LShift)  WM(Kc0, LShift)  UP  _  _  Calculator  _  PrintScreen  ScrollLock  Pause  _  _  _
_  _  Left  Down  Right  _  _  Insert  Home  PageUp  _  _  _
_  _  _  _  _  _  _  _  End  PageDown  _  _  _  _
_  _  _  _  _  _  _  _  AudioMute  AudioVolDown  AudioVolUp
"""

[[layer]]
name = "marco_layer"
keys = """
_  _  _  _  _  _  _  _  _  _  _ PREV_BT  NEXT_BT  _
_  _  _  _  _  _  _  _  _  _  _ TO(0)  TO(1)  _
_  _  _  _  _  _  _  _  _  _  WM(Insert, LCtrl)  WM(Insert, LShift)  _
_  _  _  _  _  _  _  _  _  _  _  _  _  _
_  _  _  _  _  _  _  _  MediaPrevTrack  MediaPlayPause  MediaNextTrack
"""

[light]
# All light pins are high-active by default, uncomment if you want it to be low-active
# capslock.pin = "PB2"
# capslock.low_active = true
# scrolllock.pin = "PA3"
# scrolllock.low_active = true
# Just ignore if no light pin is used for it
# numslock.pin = "PA5"
# numslock.low_active = true

[storage]
# Storage feature is enabled by default
# enabled = false

[ble]
enabled = true
# vddh has an internal voltage divider
# battery_adc_pin = "vddh"
# Or
# battery_adc_pin = "P0_04"
# adc_divider_measured = 2000
# adc_divider_total = 2820

# charge_state.pin = "P0_25"
# charge_state.low_active = false
# charge_led.pin = "P0_29"
# charge_led.low_active = false